

.ticket-list li {
  line-height: 1.2em;
  list-style-type: none;
}

.ticket-list li > * {
  vertical-align: top;
}

.ticket-list li a {
  color: black;
  text-decoration: none;
} 

.ticket-list li a:hover {
  text-decoration: underline;
} 

span.risk-level {
  font-size: 44px;
  line-height: 4px;
  vertical-align: middle !important;
  color: transparent;
}

#root span.low-risk {
  color: green;
}

#root span.medium-risk {
  color: orange;
}

#root span.high-risk {
  color: red;
}